<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/rigel-ui/rigel-ui.css">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>