{% extends './layout/layout.twig' %}

{% block body %}
	<h1>{{ title }}</h1>
	<img src="/img/google.png">
	<img src="/img/google1.png">
	<img src="/img/google2.png">
	<img src="/img/google3.png">
	<img src="/img/google4.png">
	<img src="/img/google5.png">
	<img src="/img/google6.png">
	<img src="/img/google7.png">
	<img src="/img/google8.png">
	<img src="/img/google9.png">
	<img src="/img/art-big-data-blur-373543.jpg" alt="">
{% endblock %}