{% extends './layout/layout.twig' %}

{% block body %}
	<h1>{{ title }}</h1>
	<img src="/img/google.png">
	<img src="/img/google2.png">
	<img src="/img/google3.png">
	<img src="/img/google4.png">
	<img src="/img/google5.png">
	<img src="/img/google6.png">
	<img src="/img/google7.png">
	<img src="/img/google8.png">
	<img src="/img/google9.png">
	<img src="/img/adorable-animal-beautiful-1591939.jpg">
	<img src="/img/blur-bright-color-248812.jpg">
{% endblock %}